@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');




$primary-font: 'Palette Mosaic', cursive;
$secondary-font: 'Bebas Neue', cursive;




body {
  font-family: $primary-font;
}