@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

@import 'modules/fonts';
@import 'modules/color';
@import 'modules/images';
@import 'modules/qualifications';
@import 'modules/home';
@import 'modules/modal';
@import 'modules/footer';



.scss-off-canvas {
  display: none;
}
@include media-breakpoint-up(sm) {
  .scss-off-canvas {
    display: block;
  }
}